@media screen and (max-width:1280px) {
    
    .banner-img{
        width: 50%;
        
    }
    
    .banner-img img{
        width: 80%;
        margin-left: 50px;
    }

     .banner-text h1{
        font-size: 3rem;
        margin-top: 50px;
    }
     .banner-text p{
       width: 80%;
    }

    .product-card {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (max-width:1024px) {
    
    .banner{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .banner-img{
        margin-top: 20px;
        padding: 0;
        width: 60%;
        padding: 50px 0;
    }

    .banner-text{
        width: 100%;
        text-align: center;
    }

    .banner-text p{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    .banner-text h1{
        width: 80%;
        margin: 30px auto 0;
    }

    .brands-img{
        padding: 30px 0;
        gap: 45px;
    }

    .brands-img img{
        width: 10%;
    }

}


@media screen and (max-width:992px) {
    
    .nav >ul>li{
        display: none;
    }

    .nav > div{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: #3A3A3A;
    }

    .brands-img{
        flex-wrap: wrap;
    }

    .brands-img img{
        width: 12%;
    }

    .main-container{
        width: 90%;
        margin: 0 auto;
    }

    

}

@media screen and (max-width:640px) {
    
    .product-container {
        padding: 0;
    }


}

@media screen and (max-width:768px) {
    
    .banner-img{
        width: 80%;
    }

    .banner-text h1{
        font-size: 2.5rem;
        line-height: 50px;
    }

    .brands-img img{
        width: 15%;
    }

}

@media screen and (max-width:576px) {
    
    .logo {
        font-size: 1.25rem
    }

    .head1 {
        margin: 25px 0 70px;
    }
    
    .banner-img{
        width: 100%;
    }

    .head-container{
        width: 90%;
    }

    .banner-text h1{
        width: 100%;
    }

    .brands-img img{
        width: 20%;
    }

    .brands-img{
        gap: 35px;
    }

    .brands-img{
        border:none;
    }

    .brands-img{
        padding-top: 0;
    }

}

@media screen and (max-width:475px) {
    
    .banner-text h1{
        font-size: 2.25rem;
    }
    
    .banner-text p{
        font-size: 0.875rem;
    }

    .banner-img{
       width: 100%;
    }

    .banner-img img{
        display: block;
        margin: 0 auto;
        width: 95%;
    }

    .brands-img img{
        width: 20%;
    }
    
    .brands-img{
        gap: 20px;
    }

}



@media screen and (max-width:380px) {

    .logo {
        font-size: 1rem
    }

    .head1 {
        margin: 20px 0 70px;
    }
    .banner-text h1{
        font-size: 2rem;
    }

    .brands-img img{
        width: 30%;
    }
    .brands-img{
        gap: 30px;
    }


}